:root {
    --var-primary: #F26D6D;
    --var-secondary: #162615;
    --var-button: #6B732F;
    --var-button-dark: #363a18;
    --var-hover: #8C4318;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--var-primary);
}

.loginContainer {
    max-width: 400px;
    background-color: var(--var-secondary);
    border-radius: 1em;
    padding: 1em;

    form {

        display: flex;
        flex-direction: column;


        label {
            color: #FFFFFF;
            margin-bottom: 0.5em;
        }

        .submitBtn {
            background-color: var(--var-button);
            align-self: flex-end;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 67px;
            height: 36;

            &:disabled {
                opacity: unset;
            }

            .loader {
                width: 23px;
                height: 23px;
                border: 3px solid #FFF;
                border-bottom-color: transparent;
                border-radius: 50%;
                display: inline-block;
                animation: rotation 1s linear infinite;
            }
        }
    }
}

.listContainer {
    justify-content: space-between;
}

.menuCard {
    width: 16rem;
    background-color: var(--var-secondary);
    color: var(--bs-gray-dark);

    .menuCard__title {
        height: 2.5em;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-decoration: none;
        color: #FFFFFF;
    }

    .menuCard__text {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        text-decoration: none;
        color: #FFFFFF;
    }

    .btnContainer {
        display: flex;
        justify-content: space-between;

        .cardBtn {
            border: none;
            font-size: 0.92em;
            background-color: var(--var-button-dark);

            &:hover {
                background-color: var(--var-hover);
            }
        }

        #verDetalle {
            background-color: var(--var-button);

            &:hover {
                background-color: var(--var-hover);
            }
        }

    }
}

.dietaContainer {
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    background-color: #FFFFFF;

    input {
        margin-left: 0.5em;
        margin-right: 0.2em;
    }
}

.errorLog {
    align-self: flex-start;
}

.loadingContainer {
    display: flex;
    justify-content: center;
}

.detailContainer__img {
    max-width: 500px;
}

.detalleContainer {
    justify-content: center;

    img {
        max-width: 100%;
        height: auto;
    }

    h3 {
        line-height: 200%;
    }
}



@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 992px) {
    .detalleContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .valuesContainer {
        flex-direction: column;
    }
}